/* CSS Costume */


/*  */
html {
  font-family: Arial, Helvetica, sans-serif;
  /* display: inline-block;  */
  text-align: center;
  display: contents;
}

.judul-proyek {
  font-size: 200%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.nav-top {
  background-image: url('background.png');

  background-repeat: no-repeat;
  background-size: cover;
}

.container-sensor {
  background-color: rgb(248, 246, 246);
  /* box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  padding-bottom: 2%;
  margin-top: 2%;
  align-items: center; */

}

.navbar-expand-lg {
  background-color: rgb(66, 35, 95);
  /* border-radius: 10%; */
}

.space {
  margin-left: 30%;
  /* opacity: 10%; */
}

.judul {
  margin-left: 10%;
}

.judul-brand {
  font-size: 100%;
  font-weight: bold;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lahan {
  color: white;
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item {
  align-items: center;
}

canvas {
  margin-left: 5%;
}

footer {
  margin-top: 10%;
  background-color: #034078;
  /* position: fixed; */
  align-items: center;
  padding-bottom: 1%;

}

.foot-text {
  font-size: medium;
  padding-top: 1%;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}

body {
  margin: 0;
  background-color: rgb(4, 232, 232);
}

.jumbotron-fuild {
  padding-top: 2em;
}

.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  padding-bottom: 2%;
  margin-top: 10%;
  align-items: center;
}

.card-title {
  padding-top: 1%;
  font-size: 1rem;
  font-weight: bold;
  color: #034078
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .card-grid-1 {

    /* margin:auto;  */
    display: contents;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card-title {
    padding-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    color: #034078
  }

  .card {
    margin-top: 10%;
    background-color: transparent;
    padding-bottom: 5%;
  }

  .space {
    margin-left: 1%;
    width: 20%;
    height: 20%;
    /* opacity: 10%; */
  }
}